{% extends 'layout.html' %}

{% block body %}

<div class="panel-group">

	<div class="panel panel-default">
			<div class="panel-heading">What is the Learning Guidance System</div>
			<div class="panel-body">The learning guidance system is a platform where individuals can create syllabi that others can follow to learn new things.</div>
		</div>

	<div class="panel panel-default">
			<div class="panel-heading">Why Was the Learning Guidance System Created</div>
			<div class="panel-body">The Learning Guidance System was created becuase school is expensive and libraries already provide free knowledge. The Learning Guidance System was created to provide a replacement for the advice provided in schools.</div>
		</div>

	<div class="panel panel-default">
			<div class="panel-heading">How You Can Use the Learning Guidance System</div>
			<div class="panel-body">You can look up subjects and learn about them or create your own.</div>
		</div>

</div>

{% endblock %}

	
