
{% extends 'layout.html' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Edit Syllabus</h1>
        </div>
        <div class="panel-body">
            {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" action="">
                <div class="form-group">
                {{ render_field(form.title, class_="form-control") }}
                </div>
                <div class="form-group">
                {{ render_field(form.subject, class_="form-control") }}
                </div>
                <div class="form-group">
                {{ render_field(form.description, class_="form-control") }}
                </div>
                <div class="form-group">
                {{ render_field(form.body, class_="form-control", id="editor") }}
                </div>
                <p><input class="btn btn-primary" type="submit" value="Submit"></p>
            </form>
        </div>
      </div>
{% endblock %}